<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.crud.filer.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminRoleFilter</filter-name>
        <filter-class>ru.job4j.crud.filer.AdminRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminRoleFilter</filter-name>
        <url-pattern>/users/create</url-pattern>
        <url-pattern>/users/delete</url-pattern>
        <url-pattern>/users/edit</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.LoginController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.LogoutController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserCreateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/users/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserUpdateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserDeleteController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.DownloadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadController</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

</web-app>