<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserCreateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserUpdateController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserDeleteController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/users/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>