<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>ru.job4j.cinema.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.controller.HallServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HallJsonServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.controller.HallJsonServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallJsonServlet</servlet-name>
        <url-pattern>/hall</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookJsonServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.controller.BookJsonServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookJsonServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmBookJsonServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.controller.ConfirmBookJsonServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmBookJsonServlet</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>

</web-app>